<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>common</title>
</head>
<body>
<div th:fragment="footer-1" class="footer">
    <div class="footer-inner">
        <div class="footer-content">
            <span class="bigger-120"><span class="blue bolder"> JVM </span>Application &copy; 2019-2020 | 服务永久更新(最近更新时间2020.03.09)</span>&nbsp;&nbsp;
            <span class="action-buttons"><a href="https://cloud.tencent.com"><i class="ace-icon fa fa-cloud-upload light-blue bigger-150"></i></a></span>
        </div>
    </div>
</div>
<a th:fragment="footer-2" href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"><i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i></a>

<div th:fragment="navbar" id="navbar" class="navbar navbar-default ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar"><span class="sr-only">Toggle sidebar</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <div class="navbar-header pull-left"><a href="/" class="navbar-brand"><small><i class="fa fa-leaf"></i>JVM参数知识平台</small></a></div>
        <div class="navbar-buttons navbar-header pull-right visible-lg-block" role="navigation">
            <ul class="nav ace-nav">
                <li>
                    在线:<span th:text="${session.online}"></span> 访问:<span th:text="${session.total}"></span>
                </li>
            </ul>
        </div>
    </div><!-- /.navbar-container -->
</div>

<div th:fragment="script">
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/jquery.easypiechart.min.js"></script>
    <script src="js/jquery.sparkline.index.min.js"></script>
    <!-- page specific plugin scripts -->
    <script src="js/tree.min.js"></script>

    <!-- ace scripts -->
    <script src="js/ace-elements.min.js"></script>
    <script src="js/ace.min.js"></script>
    <!-- inline scripts related to this page -->
    <script src="js/wizard.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/jquery-additional-methods.min.js"></script>
    <script src="js/bootbox.js"></script>
    <script src="js/jquery.maskedinput.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="https://cdn.staticfile.org/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <!--pnotify-->
    <script src="js/pnotify.js"></script>
    <script src="js/pnotify.buttons.js"></script>
    <script src="js/pnotify.confirm.js"></script>
    <!--文本复制-->
    <script src="https://cdn.bootcss.com/clipboard.js/2.0.4/clipboard.min.js"></script>
    <script src="js/app.js"></script>
</div>

</body>
</html>